**Mini Project Week 10**
### Amanda Gozali - 6162001169

# Preparing Data

In [6]:
#Mengambil data
import pandas as pd
url = 'https://docs.google.com/spreadsheets/d/1lN3x5lmwCHPph0OatZqouRJVeyuRp16t1DqpqqkUcGs/gviz/tq?tqx=out:csv&sheet=Sheet1'
df = pd.read_csv(url)

In [7]:
#Mengambil 5 data teratas
df.head()

,No,Brand,Rating,Review,Source
0,1,Pizza Hut Delivery,3,"rose pizza, rotinya masih mentah yang bagian d...",https://gofood.co.id/en/bandung/restaurant/piz...
1,2,Mcdonald's,1,Saya pesan setau saya gambarnya pake nasi. Kal...,https://gofood.co.id/id/bandung/restaurant/mcd...
2,3,KFC,5,"Ini mah nggak usah diragukan, udah langganan j...",https://gofood.co.id/en/bandung/restaurant/kfc...
3,4,Burger Bangor,3,Ukuran kecil untuk harga segitu. Tapi rasa ok.,https://gofood.co.id/en/bandung/restaurant/bur...
4,5,Burger King,5,"enak bumbu madura nya, ayamnya pun juicy ga ke...",https://gofood.co.id/id/bandung/restaurant/bur...

In [8]:
#Menghapus data yang kosong
df = df.dropna()
#Mengambil 5 data terakhir
df.tail()

,No,Brand,Rating,Review,Source
245,246,Sagala Kitchen,4,nasi gorengnya porsi nya mini banget. hehe,https://gofood.co.id/id/bandung/restaurant/sag...
246,247,Bebeke Om Aris,4,"sambel dan lalapannya, jadi hilang atau keting...",https://gofood.co.id/id/bandung/restaurant/beb...
247,248,Boom Burger,2,"Masakan nya dingin,,😰",https://gofood.co.id/id/bandung/restaurant/boo...
248,249,Lu'Miere,5,Akhirnya bisa ngerasai Lu’miere di Bandung!! K...,https://pergikuliner.com/restaurants/bandung/l...
249,250,Subway,4,adi kemarin siang aku lagi jalan2 ke paskal da...,https://pergikuliner.com/restaurants/bandung/s...

In [9]:
df.shape #Melihat ukuran data (250 baris, 5 kolom)

(250, 5)

In [10]:
df.describe() #Deskripsi data

               No      Rating
count  250.000000  250.000000
mean   125.500000    3.000000
std     72.312977    1.359187
min      1.000000    1.000000
25%     63.250000    2.000000
50%    125.500000    3.000000
75%    187.750000    4.000000
max    250.000000    5.000000

In [11]:
df.columns

Index(['No', 'Brand', 'Rating', 'Review', 'Source'], dtype='object')

In [12]:
df['Rating'].value_counts()

3    60
4    50
2    50
1    45
5    45
Name: Rating, dtype: int64

Digunakan rating untuk menentukan apakah pelanggan senang atau tidak senang, di mana jika rating antara 1-3 maka dianggap pelanggan
tidak senang sehingga akan diubah menjadi negatif dan jika rating 4-5 maka dianggap pelanggan senang dan diubah menjadi positif

In [13]:
df['Rating']= df['Rating'].map({4:'positif',5:'positif', 1:'negatif',2:'negatif',3:'negatif'})

In [14]:
df.head()

,No,Brand,Rating,Review,Source
0,1,Pizza Hut Delivery,negatif,"rose pizza, rotinya masih mentah yang bagian d...",https://gofood.co.id/en/bandung/restaurant/piz...
1,2,Mcdonald's,negatif,Saya pesan setau saya gambarnya pake nasi. Kal...,https://gofood.co.id/id/bandung/restaurant/mcd...
2,3,KFC,positif,"Ini mah nggak usah diragukan, udah langganan j...",https://gofood.co.id/en/bandung/restaurant/kfc...
3,4,Burger Bangor,negatif,Ukuran kecil untuk harga segitu. Tapi rasa ok.,https://gofood.co.id/en/bandung/restaurant/bur...
4,5,Burger King,positif,"enak bumbu madura nya, ayamnya pun juicy ga ke...",https://gofood.co.id/id/bandung/restaurant/bur...

# Text Preprocessing

preprosesing disini adalah melakukan, cleaning data teks dengan menghapus kata kata yang tidak penting yang tidak termsuk dalam konteks, contohnya adalah seperti berikut.

In [17]:
import re

from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
import nltk
from nltk.corpus import stopwords


tok = WordPunctTokenizer()
pat1 = r'@[A-Za-z0-9_]+' #menghilangkat username jika twitter
pat2 = r'https?://[^ ]+' #menghilangkan situs website
combined_pat = r'|'.join((pat1, pat2)) #join pat1 dan pat 2
www_pat = r'www.[^ ]+' #menhilangkan situs website

#set_stopword yang di deskripsikan sendiri
stp =  pd.read_csv('stopwords_id.txt')['STOPWORDS'].tolist() #['STOPWORDS'] berupa header
print(stp)
stopword_user = set(stp)
print(stopword_user)

['ada', 'adanya', 'adalah', 'adapun', 'agak', 'agaknya', 'agar', 'akan', 'akankah', 'akhirnya', 'aku', 'akulah', 'amat', 'amatlah', 'anda', 'andalah', 'antar', 'diantaranya', 'antara', 'antaranya', 'diantara', 'apa', 'apaan', 'mengapa', 'apabila', 'apakah', 'apalagi', 'apatah', 'atau', 'ataukah', 'ataupun', 'bagai', 'bagaikan', 'sebagai', 'sebagainya', 'bagaimana', 'bagaimanapun', 'sebagaimana', 'bagaimanakah', 'bagi', 'bahkan', 'bahwa', 'bahwasanya', 'sebaliknya', 'banyak', 'sebanyak', 'beberapa', 'seberapa', 'begini', 'beginian', 'beginikah', 'beginilah', 'sebegini', 'begitu', 'begitukah', 'begitulah', 'begitupun', 'sebegitu', 'belum', 'belumlah', 'sebelum', 'sebelumnya', 'sebenarnya', 'berapa', 'berapakah', 'berapalah', 'berapapun', 'betulkah', 'sebetulnya', 'biasa', 'biasanya', 'bila', 'bilakah', 'bisa', 'bisakah', 'sebisanya', 'boleh', 'bolehkah', 'bolehlah', 'buat', 'bukan', 'bukankah', 'bukanlah', 'bukannya', 'cuma', 'percuma', 'dahulu', 'dalam', 'dan', 'dapat', 'dari', 'daripada', 'dekat', 'demi', 'demikian', 'demikianlah', 'sedemikian', 'dengan', 'depan', 'di', 'dia', 'dialah', 'dini', 'diri', 'dirinya', 'terdiri', 'dong', 'dulu', 'enggak', 'enggaknya', 'entah', 'entahlah', 'terhadap', 'terhadapnya', 'hal', 'hampir', 'hanya', 'hanyalah', 'harus', 'haruslah', 'harusnya', 'seharusnya', 'hendak', 'hendaklah', 'hendaknya', 'hingga', 'sehingga', 'ia', 'ialah', 'ibarat', 'ingin', 'inginkah', 'inginkan', 'ini', 'inikah', 'inilah', 'itu', 'itukah', 'itulah', 'jangan', 'jangankan', 'janganlah', 'jika', 'jikalau', 'juga', 'justru', 'kala', 'kalau', 'kalaulah', 'kalaupun', 'kalian', 'kami', 'kamilah', 'kamu', 'kamulah', 'kan', 'kapan', 'kapankah', 'kapanpun', 'dikarenakan', 'karena', 'karenanya', 'ke', 'kecil', 'kemudian', 'kenapa', 'kepada', 'kepadanya', 'ketika', 'seketika', 'khususnya', 'kini', 'kinilah', 'kiranya', 'sekiranya', 'kita', 'kitalah', 'kok', 'lagi', 'lagian', 'selagi', 'lah', 'lain', 'lainnya', 'melainkan', 'selaku', 'lalu', 'melalui', 'terlalu', 'lama', 'lamanya', 'selama', 'selama', 'selamanya', 'lebih', 'terlebih', 'bermacam', 'macam', 'semacam', 'maka', 'makanya', 'makin', 'malah', 'malahan', 'mampu', 'mampukah', 'mana', 'manakala', 'manalagi', 'masih', 'masihkah', 'semasih', 'masing', 'mau', 'maupun', 'semaunya', 'memang', 'mereka', 'merekalah', 'meski', 'meskipun', 'semula', 'mungkin', 'mungkinkah', 'nah', 'namun', 'nanti', 'nantinya', 'nyaris', 'oleh', 'olehnya', 'seorang', 'seseorang', 'pada', 'padanya', 'padahal', 'paling', 'sepanjang', 'pantas', 'sepantasnya', 'sepantasnyalah', 'para', 'pasti', 'pastilah', 'per', 'pernah', 'pula', 'pun', 'merupakan', 'rupanya', 'serupa', 'saat', 'saatnya', 'sesaat', 'saja', 'sajalah', 'saling', 'bersama', 'sama', 'sesama', 'sambil', 'sampai', 'sana', 'sangat', 'sangatlah', 'saya', 'sayalah', 'se', 'sebab', 'sebabnya', 'sebuah', 'tersebut', 'tersebutlah', 'sedang', 'sedangkan', 'sedikit', 'sedikitnya', 'segala', 'segalanya', 'segera', 'sesegera', 'sejak', 'sejenak', 'sekali', 'sekalian', 'sekalipun', 'sesekali', 'sekaligus', 'sekarang', 'sekarang', 'sekitar', 'sekitarnya', 'sela', 'selain', 'selalu', 'seluruh', 'seluruhnya', 'semakin', 'sementara', 'sempat', 'semua', 'semuanya', 'sendiri', 'sendirinya', 'seolah', 'seperti', 'sepertinya', 'sering', 'seringnya', 'serta', 'siapa', 'siapakah', 'siapapun', 'disini', 'disinilah', 'sini', 'sinilah', 'sesuatu', 'sesuatunya', 'suatu', 'sesudah', 'sesudahnya', 'sudah', 'sudahkah', 'sudahlah', 'supaya', 'tadi', 'tadinya', 'tak', 'tanpa', 'setelah', 'telah', 'tentang', 'tentu', 'tentulah', 'tentunya', 'tertentu', 'seterusnya', 'tapi', 'tetapi', 'setiap', 'tiap', 'setidaknya', 'tidak', 'tidakkah', 'tidaklah', 'toh', 'waduh', 'wah', 'wahai', 'sewaktu', 'walau', 'walaupun', 'wong', 'yaitu', 'yakni', 'yang']
{'sebetulnya', 'begitulah', 'hendak', 'cuma', 'semuanya', 'merekalah', 'terlalu', 'agak', 'sempat', 'bukan', 'semacam', 'sela', 'supaya', 'kapanpun', 'sendirinya', 'beginian', 'harusnya', 'ini', 'buat', 'masing', 'adanya', 'serta', 'apaan', 'sebelumnya', 'kami', 'bermacam', 'sekalipun', 'tanpa', 'sebabnya', 'saatnya', 'bagaimanapun', 'saya', 'wah', 'semula', 'sepertinya', 'kenapa', 'saja', 'segalanya', 'jangan', 'belumlah', 'sudahlah', 'tersebut', 'dialah', 'disinilah', 'sesekali', 'demi', 'kalian', 'toh', 'berapakah', 'kalaulah', 'apalagi', 'seringnya', 'ibarat', 'inginkan', 'yang', 'kamu', 'ialah', 'nantinya', 'hingga', 'setiap', 'kamilah', 'telah', 'apabila', 'kapan', 'inginkah', 'tidak', 'semua', 'sebegitu', 'diri', 'jangankan', 'sekarang', 'bahkan', 'percuma', 'jikalau', 'seorang', 'sendiri', 'bersama', 'berapapun', 'enggak', 'namun', 'karena', 'beginikah', 'entah', 'mungkin', 'andalah', 'itu', 'mampu', 'selagi', 'beginilah', 'bahwasanya', 'pasti', 'suatu', 'dirinya', 'seharusnya', 'anda', 'kalaupun', 'sesudah', 'sesama', 'sebagainya', 'sering', 'begini', 'tentu', 'kita', 'dapat', 'segala', 'dini', 'kepadanya', 'bukankah', 'saling', 'agar', 'sepantasnya', 'dahulu', 'macam', 'melalui', 'paling', 'pada', 'segera', 'tentunya', 'aku', 'nyaris', 'bilakah', 'berapalah', 'bisa', 'inikah', 'makanya', 'malah', 'adapun', 'walau', 'kecil', 'seperti', 'sesudahnya', 'bagai', 'biasanya', 'sudah', 'yaitu', 'sana', 'berapa', 'kok', 'lamanya', 'per', 'setelah', 'hampir', 'sudahkah', 'sama', 'sesuatu', 'sebagaimana', 'bagaimanakah', 'lagi', 'inilah', 'selaku', 'banyak', 'sepantasnyalah', 'masih', 'se', 'sampai', 'ingin', 'sebenarnya', 'tentang', 'tetapi', 'sayalah', 'sinilah', 'kinilah', 'haruslah', 'sajalah', 'sekalian', 'daripada', 'dong', 'ketika', 'sehingga', 'seluruhnya', 'sedang', 'padanya', 'bolehkah', 'sementara', 'lebih', 'seluruh', 'setidaknya', 'meskipun', 'sesegera', 'akhirnya', 'kitalah', 'waduh', 'betulkah', 'malahan', 'tadinya', 'sekali', 'bagaimana', 'dalam', 'pun', 'sangat', 'ia', 'begitupun', 'kemudian', 'sebaliknya', 'ataupun', 'sesaat', 'hendaknya', 'sekaligus', 'yakni', 'lalu', 'pantas', 'tersebutlah', 'selalu', 'hendaklah', 'sebagai', 'saat', 'meski', 'serupa', 'karenanya', 'sebanyak', 'lagian', 'amat', 'begitu', 'sejenak', 'mana', 'kepada', 'memang', 'akan', 'seterusnya', 'khususnya', 'jika', 'mungkinkah', 'juga', 'akankah', 'kala', 'selamanya', 'disini', 'lainnya', 'manakala', 'harus', 'antara', 'tapi', 'nah', 'bahwa', 'entahlah', 'tadi', 'terlebih', 'justru', 'adalah', 'beberapa', 'enggaknya', 'boleh', 'sewaktu', 'tidakkah', 'pastilah', 'kalau', 'siapapun', 'mau', 'mengapa', 'apatah', 'hanya', 'belum', 'tentulah', 'antaranya', 'terhadapnya', 'dekat', 'padahal', 'apa', 'merupakan', 'sebuah', 'lain', 'wong', 'apakah', 'manalagi', 'semasih', 'seseorang', 'kapankah', 'amatlah', 'makin', 'sepanjang', 'pernah', 'mampukah', 'akulah', 'sebisanya', 'semakin', 'sejak', 'ada', 'bukanlah', 'sesuatunya', 'maka', 'olehnya', 'seberapa', 'sedemikian', 'itulah', 'bisakah', 'bolehlah', 'agaknya', 'kamulah', 'janganlah', 'walaupun', 'atau', 'sangatlah', 'nanti', 'antar', 'rupanya', 'dulu', 'dengan', 'sebelum', 'wahai', 'kiranya', 'tertentu', 'sedikitnya', 'sedangkan', 'seolah', 'pula', 'hanyalah', 'bila', 'biasa', 'sekitarnya', 'terdiri', 'sebab', 'diantara', 'begitukah', 'demikianlah', 'sini', 'hal', 'kan', 'ke', 'selama', 'para', 'masihkah', 'dikarenakan', 'depan', 'dan', 'lama', 'siapakah', 'lah', 'maupun', 'tak', 'itukah', 'sambil', 'tidaklah', 'siapa', 'terhadap', 'ataukah', 'seketika', 'bagi', 'kini', 'mereka', 'dia', 'diantaranya', 'bagaikan', 'semaunya', 'sebegini', 'oleh', 'melainkan', 'tiap', 'di', 'demikian', 'sekiranya', 'sedikit', 'dari', 'bukannya', 'sekitar', 'selain'}

In [18]:
def proses_teks(teks):
    soup = BeautifulSoup(teks, 'lxml')
    souped = soup.get_text()
    try:
        teks = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        teks = souped
    teks_bersih= re.sub("[^a-zA-Z0-9]", " ",(re.sub(www_pat, '', re.sub(combined_pat, '', teks)).lower()))
    teks_bersih= ' '.join([word for word in teks_bersih.split() if word not in stopword_user])
    return (" ".join([x for x in tok.tokenize(teks_bersih) if len(x) > 1])).strip()

In [19]:
#Membuat kolom baru
x=[]
for teks in df.Review:
  x.append(proses_teks(teks))

<ipython-input-18-31fe8bf66b22>:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(teks, 'lxml')

In [20]:
clean_text = pd.DataFrame({'clean_text':x})

In [21]:
df = pd.concat([df,clean_text], axis = 1)
df.head()

,No,Brand,Rating,Review,Source,clean_text
0,1,Pizza Hut Delivery,negatif,"rose pizza, rotinya masih mentah yang bagian d...",https://gofood.co.id/en/bandung/restaurant/piz...,rose pizza rotinya mentah bagian dalamnya
1,2,Mcdonald's,negatif,Saya pesan setau saya gambarnya pake nasi. Kal...,https://gofood.co.id/id/bandung/restaurant/mcd...,pesan setau gambarnya pake nasi kalo ga pake y...
2,3,KFC,positif,"Ini mah nggak usah diragukan, udah langganan j...",https://gofood.co.id/en/bandung/restaurant/kfc...,mah nggak usah diragukan udah langganan wkwkwk
3,4,Burger Bangor,negatif,Ukuran kecil untuk harga segitu. Tapi rasa ok.,https://gofood.co.id/en/bandung/restaurant/bur...,ukuran untuk harga segitu rasa ok
4,5,Burger King,positif,"enak bumbu madura nya, ayamnya pun juicy ga ke...",https://gofood.co.id/id/bandung/restaurant/bur...,enak bumbu madura nya ayamnya juicy ga kering

# Vectorizer

In [22]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer, HashingVectorizer

In [23]:
cvec=CountVectorizer()
tvec=TfidfVectorizer()
hvec=HashingVectorizer()

# Create Train_test

Setelah melakukan langkah di atas, maka selanjutnya adalah memisahkan data latih dan data uji, untuk memisahkananya, disini menggunakan pustaka sklearn ~ train test split

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X = df.clean_text
y = df.Rating

In [26]:
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=225)

In [27]:
print('Banyaknya data X_train :', len(X_train))
print('Banyaknya data x_test :', len(x_test))
print('Banyaknya data y_train :', len(y_train))
print('Banyaknya data y_test :', len(y_test))

Banyaknya data X_train : 200
Banyaknya data x_test : 50
Banyaknya data y_train : 200
Banyaknya data y_test : 50

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(token_pattern = r'\b\w+\b')
X_train = vectorizer.fit_transform(X_train)
x_test = vectorizer.transform(x_test)

In [29]:
print(x_test)

  (0, 101)	1
  (0, 114)	2
  (0, 123)	1
  (0, 299)	1
  (0, 349)	1
  (0, 356)	1
  (0, 464)	1
  (0, 478)	1
  (0, 522)	3
  (0, 824)	1
  (0, 904)	1
  (0, 987)	1
  (0, 1005)	1
  (0, 1065)	1
  (0, 1089)	1
  (0, 1105)	1
  (0, 1108)	2
  (0, 1112)	1
  (0, 1120)	1
  (0, 1148)	1
  (0, 1151)	1
  (0, 1182)	1
  (0, 1197)	3
  (0, 1199)	1
  (0, 1365)	1
  :	:
  (45, 1384)	1
  (45, 1416)	1
  (45, 1571)	1
  (45, 1591)	1
  (45, 1623)	2
  (45, 1659)	1
  (45, 1696)	1
  (45, 1704)	1
  (46, 478)	1
  (46, 1153)	1
  (46, 1460)	1
  (46, 1621)	1
  (47, 478)	1
  (47, 691)	1
  (47, 767)	1
  (48, 134)	1
  (48, 158)	1
  (48, 229)	1
  (48, 306)	1
  (48, 346)	1
  (48, 735)	1
  (48, 1241)	1
  (48, 1339)	1
  (49, 197)	1
  (49, 1308)	1

# Model Definition

In [30]:
from sklearn.naive_bayes import BernoulliNB

In [31]:
Model_NB = BernoulliNB()

In [32]:
Model_NB.fit(X_train,y_train)
#predict oputput
hasil = Model_NB.predict(x_test)

In [33]:
print(hasil)
print(y_test)

['positif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'positif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif' 'negatif'
 'negatif']
47     positif
245    positif
71     negatif
49     positif
128    positif
182    negatif
237    negatif
99     negatif
229    negatif
113    negatif
226    positif
4      positif
58     negatif
31     positif
178    negatif
211    negatif
53     negatif
225    negatif
100    negatif
207    positif
50     negatif
155    positif
189    negatif
247    negatif
243    positif
86     positif
186    negatif
234    positif
217    negatif
94     negatif
11     negatif
56     positif
166    negatif
180    positif
107    positif
34     negatif
132    negatif
249    positif
171    negatif
184    negatif
136    negatif
165    negatif
123    positif
122    negatif
116    positif
151    negatif
218    negatif
22     positif
66     negatif
140    negatif
Name: Rating, dtype: object

# Cek Akurasi

In [34]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report

In [35]:
#Confusion Matrix
confusion_matrix(hasil, y_test)

array([[30, 18],
       [ 1,  1]])

In [36]:
accuracy_score(hasil, y_test)

0.62

In [37]:
print(classification_report(hasil,y_test))

              precision    recall  f1-score   support

     negatif       0.97      0.62      0.76        48
     positif       0.05      0.50      0.10         2

    accuracy                           0.62        50
   macro avg       0.51      0.56      0.43        50
weighted avg       0.93      0.62      0.73        50